<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369698958196-5lucev3b9nn49s873d2s8pqmuhttaj1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369698958196-5lucev3b9nn49s873d2s8pqmuhttaj1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAE23koknXRKjbGfpoDhDxKjbNdhUMpguM</string>
	<key>GCM_SENDER_ID</key>
	<string>369698958196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.dark-mode</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-e2aea</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-e2aea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369698958196:ios:ed1d23b26473b648d95a21</string>
</dict>
</plist>